<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form class="form" action="/login" method="post" id="login">
        <div id="heading">
          <h1>Login</h1>
        </div>

        <div class="inputs">
          <div id="flash" style="color: red;" class="flash">
            <% if(typeof msg != 'undefined' && msg) { %>
              <%= msg %>
           <% } %>
          </div>
          <div>
              <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" name="email" />
          </div>

          <div>
              <label for="Password">Password</label>
            <input type="password" placeholder="Enter your password" name="password" />
          </div>

          <div>
            <button type="submit">Login</button>
          </div>

          <div class="link">
            Not Yet Signed Up?<a href="/register">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
    <script>
      setTimeout(() => {
        $("#flash").hide()
      },10000)
    </script>
  </body>
</html>
