<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form action="/register" method="post" id="register">
        <div>
          <h1 id="heading">Register</h1>
        </div>

        <div class="inputs">
          <div id="flash" style="color: red;" class="flash">
            <% if(typeof msg != 'undefined' && msg) { %>
              <%= msg %>
           <% } %>
            
          </div>
          <div>
              <label for="name">Full Name</label>
            <input type="text" name="name" placeholder="Enter your full name" />
          </div>

          <div>
              <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email" />
          </div>

          <div>
              <label for="Password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" />
          </div>

          <div>
            <button type="submit">Register</button>
          </div>

          <div class="link">
            Already Signed Up?<a href="/login">Login Now</a>
          </div>
        </div>
      </form>
    </div>

    <script>
      setTimeout(() => {
        $("#flash").hide();
      },10000)
    </script>
  </body>
</html>
